<!--The content below is only a placeholder and can be replaced.-->

<!-- header -->
<div class="header-line">
  <div class="row">
      <div>VMONEY</div>
      <ul class="list-items">
        <li class="list-item">Bets</li>
        <li class="list-item">Arbitrations</li>
      </ul>

     <ul class="list-items">
       <li>Click me right</li>
     </ul>
    </div>
</div>

    <nav class="navbar">
        <!-- logo -->
          <div class="navbar-brand">
            <a class="navbar-item">
              Vilki_logo
            </a>
          </div>

          <div>sad</div>

          <div class="d-md-flex">
            <a class="btn sign-in">Sign up</a>
          </div>

          <div>
              <button>Log in</button>
          </div>
    </nav>

    <app-bets></app-bets>

