html {
    background-color: #f0f5f8;
}

.sign-in {
    font-weight: 500;
    color: #ffe484;
    border-color: #ffe484;
}

.header-line {
    background: #383d51;
    color: white;
    padding: 1% 3%;
}

.list-items {
    list-style: none;
}

ul.list-items li {
    display: inline;
    margin-left: 15%;
    white-space: nowrap;
}