<div>
   
  <br>
    <div class="container">
        <div class="container">
          <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
              <div class="blocks">
                  <button button="submit" mat-raised-button color="primary">
                      <mat-icon>add</mat-icon> Add Filter
                  </button>
              </div>
        </div>
    </div>
    <br>
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card" >
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Bets contain totals</h3>
          </mat-card-title>
          <mat-card-content>
              <div class="example-container mat-elevation-z8">
                <mat-table mat-table [dataSource]="records">
                    <ng-container matColumnDef="data">
                        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.date |  date: 'MMM d, y, h:mm:ss a zzzz' }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="duel">
                        <mat-header-cell *matHeaderCellDef> Duel </mat-header-cell>
                        <mat-cell *matCellDef="let element"> "{{element.home_team}}" ----- "{{element.guest_team}}" </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="match">
                        <mat-header-cell *matHeaderCellDef> Type of match </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.match}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="total">
                        <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.attr_1}} {{element.attr_3}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="parimatch">
                        <mat-header-cell *matHeaderCellDef><b>Parimatch</b></mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <div *ngIf="element.office == 'parimatch'">{{element.ratio}}</div>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="leon">
                        <mat-header-cell *matHeaderCellDef><b>Leon</b></mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <div *ngIf="element.office == 'leon'">{{element.ratio}}</div>
                        </mat-cell>
                    </ng-container>


                    <!--
                    <ng-container matColumnDef="match">
                        <mat-header-cell *matHeaderCellDef> Type of match </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.match}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="total">
                        <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.attr_1}} {{element.attr_3}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="parimatch">
                        <mat-header-cell *matHeaderCellDef><b>Parimatch</b></mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <div *ngIf="element.office == 'parimatch'">{{element.ratio}}</div>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="leon">
                        <mat-header-cell *matHeaderCellDef><b>Leon</b></mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <div *ngIf="element.office == 'leon'">{{element.ratio}}</div>
                        </mat-cell>
                    </ng-container>

                    -->

                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row >
                </mat-table>
              </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>